<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:statusBarColor="@color/my_color2"
        android:supportsRtl="true"
        android:theme="@style/Theme.QLPhongGym"
        tools:targetApi="31">
        <activity
            android:name=".XacThucOTP_DienThoai"
            android:exported="false" />
        <activity
            android:name=".hoSo_admin"
            android:exported="false" />
        <activity
            android:name=".thongbao_admin"
            android:exported="false" />
        <activity
            android:name=".trangchu_admin"
            android:exported="false" />
        <activity
            android:name=".chucnang_admin"
            android:exported="false" />
        <activity
            android:name=".quanlyTaiKhoan_admin"
            android:exported="false" />
        <activity
            android:name=".giaoDienUser"
            android:exported="false" />
        <activity
            android:name=".QRdatLop"
            android:exported="false" />
        <activity
            android:name=".thongTinDatLop"
            android:exported="false" />
        <activity
            android:name=".boLocDatLop"
            android:exported="false" />
        <activity
            android:name=".datLop"
            android:exported="false" />
        <activity
            android:name=".Taikhoan"
            android:exported="false" />
        <activity
            android:name=".DangkysdtActivity"
            android:exported="false" />
        <activity
            android:name=".dangKy"
            android:exported="false" />
        <activity
            android:name=".dangNhap"
            android:exported="false" />
        <activity
            android:name=".trangChu"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>